{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "globals": {
    "THREE": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": [2, "never"],
    "keyword-spacing": 2,
    "array-bracket-spacing": [2, "always"],
    "object-curly-spacing": [2, "always"],
    "no-multiple-empty-lines": [2, {"max": 1}],
    "comma-dangle": [2, "always-multiline"],
    "no-debugger": 1,
    "no-console": 1,
    "no-lonely-if": 2,
    "arrow-parens": [2, "as-needed"],
    "prefer-const": 2,
    "no-var": 2,
    "eqeqeq": [2, "always"],
    "no-multi-spaces": 2,
    "quotes": [2, "single"],
    "new-cap": 2,
    "space-in-parens": 2,
    "func-call-spacing": 2,
    "space-before-function-paren": [2, "never"],
    "space-before-blocks": 2
  }
}
